* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
p {
    color: #555;
}
a {
    text-decoration: none;
}

.side-bar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
    z-index: 1;
}



.side-bar .header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.side-bar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,0.1); 
    border-bottom: 1px solid black;
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

.side-bar ul a i{
    margin-right: 16px;
}

#check {
    display: none;
}

label  #admin-icon-bar, label #admin-icon-cancel {
    position: absolute;
    cursor: pointer;
    background-color: #042331;
}   

label #admin-icon-bar {
    left: 40px;
    top: 14px;
    font-size: 35px;
    color: #fff;
    padding: 6px 12px;
}

label #admin-icon-cancel {
    z-index: 1111;
    left: -195px;
    top:17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: 0.5s ease;
    position: fixed;
}

#check:checked ~ .side-bar {
    left: 0;
}

#check:checked ~ label #admin-icon-cancel {
    left: 195px;
}

#check:checked ~ label #admin-icon-bar{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~section {
    margin-left: 250px;
}

.header__navbar-admin {
    display: flex;
    justify-content: flex-end;
    padding: 20px 45px;
}

.admin-user{    
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #555;
    color: #fff;
}

.container-products_admin{
    max-width: 1080px;
    padding: 0 25px;
    margin: 80px auto;
    display: flex;
}

.products-wrap {
    padding: 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.3);
    flex: 1.5;
    justify-content: space-between;
}

.products-wrap-2 {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse ;
}

.products-wrap tr td {
    text-align: center;
}

.products-img_admin img{
    width: 80px;
    height: 80px;
}

.btn__admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-btn_admin {
    display: block;
    background-color: #000;
    width: 80px;
    height: 40px;
    padding: 10px;
    color: #fff;
    margin-bottom: 5px;
    transition: all ease 0.25s;
}

.products-btn_admin:hover {
    opacity: 0.8;
    cursor: pointer;
}

.products-btn_admin--remove {
    background-color: #c0392b;
}

.products-btn_admin--repair {
    background-color: #2980b9;
}

.page-btn--admin {
    text-align: center;
    margin-top: 20px;
}

.container-search-products {
    max-width: 600px;
    padding: 0 25px;
    margin: 0px auto;
}

.products-search-wrap {
    padding: 20px 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.3);
    height: 400px;
}

.container-add-products {
    max-width: 600px;
    padding: 0 25px;
    margin: 80px auto;
}

.products-add-wrap {
    padding: 20px 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.3);
}



form .btn--admin {
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 8px;
}

.col-4-total {
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.1);
    display: flex;
    margin-right: 20px;
    padding: 10px;
}

.infor {
    padding: 10px;
    margin-right: 5px;
}

.total-icon {
    background-color: rgb(147, 252, 252);
    border-radius: 3px;
    border: 1px solid #333;
    padding: 20px;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 30px;
}

.total-icon i {
    font-size: 24px;
    padding: 5px;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}

.total-wrap {
    max-width: 1080px;
    padding: 0 25px;
    margin: 80px auto;
    display: flex;
}

.total-title {
    font-size: 18px;    

}

.total-buy {
    font-size: 40px;
}

.total-desc {
    display: flex;
    margin-top: 4px;
}


.total-desc i {
    margin-right: 5px;
}